@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.food{
    width: 50%;
    height: 70vh;
    margin-top: -10vh;
    /* background-color: red; */
}
#star{
    width: 142px;
    height: 28px;
    margin-left: 20vw;
    margin-top: 7vh;
}
.momos{
    margin-left:12vw;
    
}
#sun{
    font-size: 22px;
    font-weight: 600;
    font-family: "Poppins";
    line-height: 20px; 
    color: #0C1421;
}
#moon{
    width: 20px;
    height: 16px;
    padding-left: 1vw;
}
#mercury{
    font-size:14px;
    font-weight: 400;
    font-family: "Poppins";
    line-height: 20px;
    color: #313957;
}
#pluto{
    width: 320px;
    height: 22px;
    border-radius: 50px;
    
}
label{
    font-family: "Poppins";
    font-size: 14px;
    
}
#ceres{
    width: 320px;
    height: 22px;
    border-radius: 50px;
    
}
button{
    width: 326px;
    height: 28px;
    border-radius: 50px;
    border: none;
    background-color: orange;
    font-family: "Poppins";
    color: white;
    cursor: pointer;
}
#solar{
    font-family: "Poppins";
    font-size: 12px;
    margin-left: 40px;
    margin-top: -2vh;
}
#pole{
     font-family: "Poppins";
     font-size: 12px;
     color: orange;
}
.koyto{
    width: 320px;
    height: 420px;
    margin-left:58vw;
    margin-top: -88vh;
}
#makemake{
    width: 31vw;
    height: 66vh;
    margin-left:4vw;
    margin-top: 26vh
}
.earth{
    height: 150px;
    background-color:#eeeeee;
}
#golf{
    width: 82px;
    margin-top: 3vh;
    margin-left: 4vw;
}
.raju{
    height: 60px;
    background-color: black;
    margin-top: 14vh;
}
#tam{
    width: 120px;
    margin-top: 30vh;
    margin-left: 2.5vh;

}
.yut{
    margin-top: -14vh;
    margin-left: 8vh;
   
}
#hat{
    font-size: 8px;
    display: inline;
    font-family: "Poppins";
    color:black;
    
}
#jic{
    margin-top:-15vh;
    margin-left: 28vw;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 600;
}
#goa{
    width: 260px;
    height: 30px;
    border-radius: 60px;
    margin-left: 27.5vw;
}
#bomby{
    width: 120px;
    height: 36px;
    margin-left: -12vh;
}
#deli{
    margin-left: 28vw;
    font-size: 10px;
    font-family: "Poppins";
    margin-top: 0.1vh;
}
.salt1{
    display: flex;
    list-style: none;
    gap: 16px; 
    margin-left: 25vw;
    margin-top: -2vh;
}
#rekh{
    width: 20px;
    height: 20px;
}
#cirt{
    margin-left: 69vw;
    margin-top: -22vh;
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins";
}
.sirt{
    margin-left: 66vw;
    list-style: none;
    font-size: 12px;
    line-height: 3vh;
}
#cirt1{
    margin-left: 84vw;
    margin-top: -20.5vh;
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins";
}
.sirt1{
    margin-left: 81vw;
    list-style: none;
    font-size: 12px;
    line-height: 3.1vh;
}
#camt{
    padding-top: 3.2vh;
    font-size: 12px;
    margin-left: 6vw;
    color: white;
    font-family: "Poppins";
}
.mamt{
    display: flex;
    list-style: none;
    gap: 30px;
    margin-top: -5.5vh;
    margin-left:48vw;
    font-size: 12px;
    font-family: "Poppins";
    color: white;
}






